
body {
	font-family: 'times new roman';
    background-color:#0b4308
   
}
h3 {
	background-color: #0b4308;
}

html{
    color: aliceblue;

}

div {
    display: inline-flexbox;
    position: static;
	width: 400px;
	height: 400px;
	border-width: 2px;	
	border-style: solid;
	border-color: rgb(22, 231, 22);
	background-color: forestgreen;
	padding: 100px 120px 0psx 50px;
	margin: 30px 30px;
	align-content: center;
	justify-content: center;
}
