
head {
	font-size: xx-large;
	align-content: center;
	justify-content: center;
	font-family: 'times new roman';
    background-color:#0b4308
}
body {
	font-size: xx-large;
	align-content: center;
	justify-content: center;
	font-family: 'times new roman';
    background-color:#0b4308
}
h3 {
	font-size: xx-large;
	align-content: center;
	justify-content: center;
	background-color: #0b4308;
}
button{
	font-size: xx-large;
	font-family: 'Times New Roman';
}
html{
	font-size: xx-large;
	align-content: center;
	justify-content: center;
	color: aliceblue;

}

div {
	font-size: xx-large;
    display: inline-flexbox;
    position: static;
	width: windowWidth;
	height: 450px;
	border-width: 2px;	
	border-style: solid;
	border-color: rgb(22, 231, 22);
	background-color: forestgreen;
	padding: 100px 120px 0psx 50px;
	margin: 30px 30px;
	align-content: center;
	justify-content: center;
}
